<h1>Home</h1>

<p> Bienvenido a mi sitio web</p>

<h1>Mi escuela es : <%- school %> y es la mejor </h1>
<h1>Mi materia es : <%- materia %></h1>
<h2><%- dP[0].escuela %> </h2>
<h2><%- dP[0].edad %> </h2>
<h2><%- dP[1].texto %> </h2>
<h2><%- dP[2]%> </h2>
